body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:422px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:829px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:829px;
}
#u33 {
  position:absolute;
  left:2px;
  top:406px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u36_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u36 {
  position:absolute;
  left:21px;
  top:68px;
  width:375px;
  height:667px;
}
#u37 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u40_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40 {
  position:absolute;
  left:321px;
  top:82px;
  width:1px;
  height:16px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  visibility:hidden;
  white-space:nowrap;
}
#u42_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(106, 125, 143, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC99CC;
}
#u42 {
  position:absolute;
  left:21px;
  top:68px;
  width:375px;
  height:64px;
  color:#CC99CC;
}
#u43 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u44 {
  position:absolute;
  left:21px;
  top:68px;
  width:375px;
  height:20px;
}
#u45 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u46 {
  position:absolute;
  left:21px;
  top:131px;
  width:375px;
  height:1px;
}
#u47 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:21px;
  top:131px;
  width:375px;
  height:567px;
  overflow:hidden;
}
#u48_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:567px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u48_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u49_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:92px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u49 {
  position:absolute;
  left:41px;
  top:85px;
  width:91px;
  height:92px;
}
#u50 {
  position:absolute;
  left:2px;
  top:38px;
  width:87px;
  word-wrap:break-word;
}
#u51_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:92px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u51 {
  position:absolute;
  left:131px;
  top:85px;
  width:91px;
  height:92px;
}
#u52 {
  position:absolute;
  left:2px;
  top:38px;
  width:87px;
  word-wrap:break-word;
}
#u53_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:92px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u53 {
  position:absolute;
  left:221px;
  top:85px;
  width:91px;
  height:92px;
}
#u54 {
  position:absolute;
  left:2px;
  top:38px;
  width:87px;
  word-wrap:break-word;
}
#u55_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:92px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u55 {
  position:absolute;
  left:41px;
  top:175px;
  width:91px;
  height:92px;
}
#u56 {
  position:absolute;
  left:2px;
  top:38px;
  width:87px;
  word-wrap:break-word;
}
#u57_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:92px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u57 {
  position:absolute;
  left:131px;
  top:175px;
  width:91px;
  height:92px;
}
#u58 {
  position:absolute;
  left:2px;
  top:38px;
  width:87px;
  word-wrap:break-word;
}
#u59_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:92px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u59 {
  position:absolute;
  left:221px;
  top:175px;
  width:91px;
  height:92px;
}
#u60 {
  position:absolute;
  left:2px;
  top:38px;
  width:87px;
  word-wrap:break-word;
}
#u61_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:92px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u61 {
  position:absolute;
  left:41px;
  top:264px;
  width:91px;
  height:92px;
}
#u62 {
  position:absolute;
  left:2px;
  top:38px;
  width:87px;
  word-wrap:break-word;
}
#u63_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:92px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u63 {
  position:absolute;
  left:131px;
  top:264px;
  width:91px;
  height:92px;
}
#u64 {
  position:absolute;
  left:2px;
  top:38px;
  width:87px;
  word-wrap:break-word;
}
#u65_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:92px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u65 {
  position:absolute;
  left:221px;
  top:264px;
  width:91px;
  height:92px;
}
#u66 {
  position:absolute;
  left:2px;
  top:38px;
  width:87px;
  word-wrap:break-word;
}
#u67_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:93px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u67 {
  position:absolute;
  left:153px;
  top:306px;
  width:92px;
  height:93px;
}
#u68 {
  position:absolute;
  left:2px;
  top:38px;
  width:88px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:258px;
}
#u70 {
  position:absolute;
  left:49px;
  top:230px;
  width:300px;
  height:258px;
}
#u71 {
  position:absolute;
  left:2px;
  top:121px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:14px;
}
#u72 {
  position:absolute;
  left:115px;
  top:408px;
  width:173px;
  height:14px;
}
#u73 {
  position:absolute;
  left:2px;
  top:-1px;
  width:169px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF6600;
}
#u74 {
  position:absolute;
  left:138px;
  top:407px;
  width:127px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF6600;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:14px;
}
#u76 {
  position:absolute;
  left:163px;
  top:338px;
  width:75px;
  height:14px;
}
#u77 {
  position:absolute;
  left:2px;
  top:-1px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#CC0000;
}
#u78 {
  position:absolute;
  left:171px;
  top:293px;
  width:63px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#CC0000;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u80_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#CC0000;
}
#u80 {
  position:absolute;
  left:165px;
  top:336px;
  width:73px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#CC0000;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u82_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u82 {
  position:absolute;
  left:55px;
  top:632px;
  width:140px;
  height:40px;
  color:#FFFFFF;
}
#u83 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u84_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u84 {
  position:absolute;
  left:221px;
  top:632px;
  width:140px;
  height:40px;
}
#u85 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u86_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u86 {
  position:absolute;
  left:155px;
  top:102px;
  width:110px;
  height:18px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u87 {
  position:absolute;
  left:2px;
  top:-2px;
  width:106px;
  word-wrap:break-word;
}
